

body {
  background-color: #eafaf8;
  color:black;
}

/* Main Container */
.smart-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 50px 20px;
}

/* image container */

.image3 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.child-img {
  width: 250px;
  height: 170px;
 border-radius: 20px;
}

/* text  */
.Parent {
 width: 500px;
font-size: 25px;
}

.font.color {
  color: #00a19d;
}

.button {
  margin-top: 20px;
  background-color: #00aaff;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 16px;
}

.button:hover {
  background-color: #008fcc;
}

/* Feedback Section */
.feedback-container {
  display: flex;
  gap: 20px;
  padding: 30px;
}

.feedback {
  min-width: 300px;
  background: #fff;
  border-radius: 10px;
  padding: 20px;
}

.profile-img {
  width: 80px;
  height: 80px;
  border-radius: 20px;
}
.date {
  font-size: 15px;
  color: grey;
  margin-bottom: 10px;
}

.stars {
  color: gold;
  font-size: 20px;
}
